@import "global/mixin";
@import "global/__color";
@import "global/__variable";
@import "global/__normalize";
@import "global/grid";
@import "global/typography";
@import "global/buttons";
@import "global/forms";


@import "blocks/wrapper";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/logo";
@import "blocks/prices";
@import "blocks/advantages";
@import "blocks/slider";
@import "blocks/news";
@import "blocks/feedback";
@import "blocks/modal-personal";
@import "blocks/modal-login";
@import "blocks/footer";
@import "blocks/contacts";
@import "blocks/social";
@import "blocks/social-btn";
@import "blocks/copyright";

@import "blocks/portfolio";
@import "blocks/price-list";

@import "blocks/order";
@import "blocks/order-form";
@import "blocks/modal-form";
