.btn {
  color: $color-black;
  border: 1px solid $color-border-news;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-base;
  font-weight: bold;
  line-height: $line-height-small;
  padding: 12px 90px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;

  &:hover,
  &--hover {

  }

  &:active,
  &--active {

  }

  &--modify {

    &:hover,
    &--hover {

    }

    &:active,
    &--active {

    }
  }
}

@media #{$break-medium} {

  .btn {

    &--news {
      padding: 12px 29px;
      position: absolute;
      right: 65px;
      top: 84px;
    }

  }

}

@media #{$break-large} {

  .btn {

    &--news {
      right: 121px;
      top: 117px;
    }

  }

}
