.btn {
  background-color: $bg-color-button;
  border: 1px solid $color-border-news;
  box-sizing: border-box;
  color: $color-black;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-base;
  font-weight: bold;
  line-height: $line-height-small;
  padding: 12px 90px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;

  &:hover {
    border-color: $color-button-border-hover;
  }

  &:active {
    background-color: $color-button-bg-active;
    color: $color-button-text-active;
  }

  &--to-main {
    display: none;
  }

  &--feedback {
    display: none;
  }

  &--contacts,
  &--copyright {
    background-color: $bg-color;
    border-color: $color-border-footer;
    color: $color-white;
    padding: 12px 60px;

    &:hover {
      border-color: $color-button-contact-border-hover;
    }

    &:active {
      background-color: transparent;
      border-color: transparent;
      color: $color-button-text-active;
    }

  }

  &--copyright {
    padding: 12px 87px;
  }

  &--submit,
  &--modal-form {
    background-color: $bg-color-menu-active;
    border: none;
    color: $color-white;
    padding: 13px 0;
    width: 100%;

    &:hover {
      background-color: $color-news-text-active;
    }

    &:active {
      color: $color-menu-mobile-hover;
    }

  }

  @keyframes change-color {

    0% {
      color: rgba(255, 255, 255, 1);
    }
    50% {
      color: rgba(255, 255, 255, 0.6);
    }
    100% {
      color: rgba(255, 255, 255, 1);
    }

  }

  &--in-progress {
    animation-iteration-count: infinite;
    animation-name: change-color;
    animation-duration: 2s;
    background-color: $color-button-bg-progress;
  }

  &--log-in {
    background-color: $bg-color-menu-active;
    border: none;
    color: $color-white;
    padding: 12px 0;
    width: 46.3%;
  }

  &--close {
    padding: 12px 0;
    width: 46.3%;
  }

  &--modal-form {
    width: 180px;
  }

}

@media #{$break-medium} {

  .btn {

    &--news {
      padding: 12px 29px;
      position: absolute;
      right: 65px;
      top: 84px;
    }

    &--feedback {
      display: block;
      padding: 12px 23px;
      position: absolute;
      right: 65px;
      top: 37px;
    }

    &--to-main {
      display: block;
      height: 50px;
      padding: 12px 35px;
    }

    &--contacts {
      border: none;
      font-weight: normal;
      padding: 0;
      text-transform: none;
    }

    &--copyright {
      padding: 12px 26px;
    }

    &--contacts {
      cursor: default;

      &:active {
        color: $color-white;
      }

    }

    &--submit {
      font-size: $font-size-large;
      padding: 23px 0;
    }

    &--log-in {
      padding: 13px 0;
      width: 100%;
    }

    &--close {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      font-size: 0;
      height: 28px;
      outline: 0;
      position: absolute;
      right: -103px;
      top: 60px;
      width: 28px;

      &::before,
      &::after {
        background-color: #ffffff;
        bottom: 50%;
        content: "";
        cursor: pointer;
        height: 2px;
        position: absolute;
        left: -4px;
        width: 36px;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }

    }

    &--modal-form-sucess {
      width: 320px;
    }

    &--modal-form-failure {
      width: 148px;
    }

  }

}

@media #{$break-large} {

  .btn {

    &--news {
      right: 121px;
      top: 117px;
    }

    &--feedback {
      right: 121px;
    }

    &--submit {
      padding: 23px 0;
    }

  }

}
