.btn {
  color: $color-black;
  border: 1px solid $color-border-news;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-base;
  font-weight: bold;
  line-height: $line-height-small;
  padding: 12px 90px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;

  &:hover,
  &--hover {

  }

  &:active,
  &--active {

  }

  &--modify {

    &:hover,
    &--hover {

    }

    &:active,
    &--active {

    }
  }

  &--to-main {
    display: none;
  }

  &--feedback {
    display: none;
  }

  &--contacts,
  &--copyright {
    border-color: $color-border-footer;
    color: $color-white;
    padding: 12px 60px;
  }

  &--copyright {
    padding: 12px 87px;
  }

}

@media #{$break-medium} {

  .btn {

    &--news {
      padding: 12px 29px;
      position: absolute;
      right: 65px;
      top: 84px;
    }

    &--feedback {
      display: block;
      padding: 12px 23px;
      position: absolute;
      right: 65px;
      top: 37px;
    }

    &--to-main {
      display: block;
      height: 50px;
      padding: 12px 35px;
    }

    &--contacts {
      border: none;
      font-weight: normal;
      padding: 0;
      text-transform: none;
    }

    &--copyright {
      padding: 12px 26px;
    }

  }

}

@media #{$break-large} {

  .btn {

    &--news {
      right: 121px;
      top: 117px;
    }

    &--feedback {
      right: 121px;
    }

  }

}
