@mixin clearfix() {
  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

}

@mixin container {
  margin: 0 auto;
  width: 280px;

  @media #{$break-medium} {
    width: 640px;
  }

  @media #{$break-large} {
    width: 960px;
  }

}

@mixin title {
  font-size: $font-size-big;
  line-height: $line-height-medium;
  text-align: center;
  text-transform: uppercase;
}

@mixin triangle($color: $bg-color) {

  &::after {
    content: "";
    background-image:
      linear-gradient(
        to top right,
        transparent 50%,
        $color 50%
      ),
      linear-gradient(
        to top left,
        transparent 50%,
        $color 50%
      );
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 50.1% 100%;
    height: 35px;
    left: 0;
    position: absolute;
    bottom: -35px;
    width: 100%;
    z-index: 10;
  }

}
