@mixin clearfix() {
  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

}

@mixin container {
  margin: 0 auto;
  width: 280px;

  @media #{$break-medium} {
    width: 640px;
  }

  @media #{$break-large} {
    width: 960px;
  }

}

@mixin title {
  font-size: $font-size-big;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
