@font-face {
  font-family: "PT Sans Narrow";
  src:  local("PT Sans Narrow"),
        url("../fonts/ptsansnarrow.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ptsansnarrow.woff") format("woff"),
        url("../fonts/ptsansnarrow.ttf") format("truetype"),
        url("../fonts/ptsansnarrow.svg#pt_sans_narrowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src:  local("PT Sans Narrow Bold"),
        url("../fonts/ptsansnarrowbold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ptsansnarrowbold.woff") format("woff"),
        url("../fonts/ptsansnarrowbold.ttf") format("truetype"),
        url("../fonts/ptsansnarrowbold.svg#pt_sans_narrowbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

$base-font: PT Sans Narrow, Arial, sans-serif;

body {
  font-family: $base-font;
  font-size: 18px;
  line-height: 27px;
}

strong,
b {
  font-weight: 700;
}

a {

  &:hover {

  }
}

ul {
    li {

    }
}

table {
  td {

  }
}
