$break-small: "(max-width: 767px)";
$break-medium: "(min-width: 768px)";
$break-large: "(min-width: 1200px)";

$bg-color: #292929;
$bg-color-header: #ffffff;
$bg-color-menu: #000000;
$bg-color-menu-active: #826550;
$bg-color-menu-login: #6a4d38;

$color-white: #ffffff;
$color-border: #71543f;
$color-border-shadow: #886e5b;
$color-note: #cacaca;
