$break-small: "(max-width: 767px)";
$break-medium: "(min-width: 768px)";
$break-large: "(min-width: 1200px)";

$bg-color: #292929;
$bg-color-header: #ffffff;
$bg-color-button: #f8f5f2;
$bg-color-menu: #000000;
$bg-color-menu-active: #826550;
$bg-color-menu-login: #6a4d38;
$bg-color-news: #f8f5f2;
$bg-color-price: #353535;
$bg-color-modal: #f8f5f2;

$color-black: #000000;
$color-white: #ffffff;
$color-table-number: #868686;
$color-border: #71543f;
$color-border-advantages: #4a4a4a;
$color-border-footer: #3f3f3f;
$color-border-news: #e5ddd5;
$color-border-discount: #484848;
$color-border-picture: #eae4dd;
$color-border-shadow: #886e5b;
$color-border-slider: #939290;
$color-note: #cacaca;

$color-menu-mobile-hover: #a09187;
$color-menu-tablet-active: #747474;
$color-menu-desktop-active: #cacaca;
$color-button-border-hover: #d5cabe;
$color-button-text-active: #a99f95;
$color-button-bg-active: #d5c9bd;
$color-button-bg-progress: #aeaeae;
$color-news-text-hover: #826550;
$color-news-text-active: #6a4d38;
$color-button-contact-border-hover: #515151;
$color-button-text-active: #808080;
$color-toggle-feedback-active: #958c84;
$color-field-focus: #999999;
