$break-small: "(max-width: 767px)";
$break-medium: "(min-width: 768px)";
$break-large: "(min-width: 1200px)";

$bg-color: #292929;
$bg-color-header: #ffffff;
$bg-color-button: #f8f5f2;
$bg-color-menu: #000000;
$bg-color-menu-active: #826550;
$bg-color-menu-login: #6a4d38;
$bg-color-news: #f8f5f2;
$bg-color-price: #353535;

$color-black: #000000;
$color-white: #ffffff;
$color-table-number: #868686;
$color-border: #71543f;
$color-border-advantages: #4a4a4a;
$color-border-footer: #3f3f3f;
$color-border-news: #e5ddd5;
$color-border-discount: #484848;
$color-border-picture: #eae4dd;
$color-border-shadow: #886e5b;
$color-border-slider: #939290;
$color-note: #cacaca;
