.copyright {
  padding-bottom: 25px;
  padding-top: 30px;
  text-align: center;

  outline: 1px dashed red;
}

@media #{$break-medium} {

  .copyright {
    order: 2;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 30%;
  }

}

@media #{$break-large} {

  .copyright {
    order: 3;
    padding-top: 50px;
    width: 33.3333%;
  }

}
