.feedback {
  background-color: $bg-color-news;
  padding-bottom: 60px;
  padding-top: 30px;

  &__header-title {
    text-align: center;
  }

  &__item {
    @include container;

    padding-left: 75px;
    position: relative;

    &:nth-of-type(n+2) {
      display: none;
    }

  }

  &__image {
    left: 15px;
    position: absolute;
    top: 15px;
  }

  &__toggle {
    display: none;
  }

  //outline: 1px dashed red;
}

@media #{$break-medium} {

  .feedback {
    padding-bottom: 70px;
    padding-top: 30px;
    position: relative;

    &__header-title {
      text-align: left;
    }

    &__items {
      position: relative;
    }

    &__item {
      padding-left: 130px;
      padding-right: 100px;
    }

    &__image {
      left: 60px;
    }

    &__toggle {
      bottom: 50%;
      display: block;
      position: absolute;
      transform: translateY(50%);

      &--prev {
        left: 0;
        order: -1;
      }

      &--next {
        right: 0;
      }

    }

  }

}

@media #{$break-large} {

  .feedback {
    padding-bottom: 100px;

    &__item {
      padding-bottom: 70px;
      padding-left: 350px;
    }

    &__image {
      height: 166px;
      width: 249px;
    }

    &__toggle {
      //width: 5%;
    }

  }

}
