.feedback-btn  {
  display: none;
}

@media #{$break-medium} {

  .feedback-btn  {
    display: block;
    position: absolute;
    right: 0;
    top: 40px;
  }

}

@media #{$break-large} {

    .feedback-btn  {

    }

}
