.footer {
  border: 1px solid $color-border-footer;
  color: $color-white;
  margin-top: 35px;
}

@media #{$break-medium} {

  .footer {
    @include container-fluid;

    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}
