.header {
  min-height: 135px;

  outline: 1px dashed red;
}

@media #{$break-medium} {

  .header {
    min-height: 470px;
    padding: 0;
    position: relative;

    &--inner-page {
      min-height: 250px;
    }

  }

}

@media #{$break-large} {

  .header {
    min-height: 719px;

    &--inner-page {
      min-height: 320px;
    }

  }

}
