.header {
  padding-top: 85px;
  position: relative;
}

@media #{$break-medium} {

  .header {
    background-color: $bg-color-menu;
    padding: 0;
    position: relative;

    &--inner-page {
      //min-height: 250px;
    }

  }

}

@media #{$break-large} {

  .header {
    //min-height: 719px;

    &--inner-page {
      //min-height: 320px;
    }

  }

}
