.header {
  padding-top: 85px;
  position: relative;
}

@media #{$break-medium} {

  .header {
    background-color: $bg-color-menu;
    padding: 0;
    position: relative;

    &--inner-page {

      &::after {
        content: "";
        background-image:
          linear-gradient(
            to bottom left,
            transparent 50%,
            $bg-color-news 50%
          ),
          linear-gradient(
            to bottom right,
            transparent 50%,
            $bg-color-news 50%
          );
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        background-size: 60.1% 100%;
        height: 50px;
        left: 0;
        position: absolute;
        bottom: 0px;
        width: 100%;
        z-index: 10;
      }

    }

  }

}

@media #{$break-large} {

  .header {
    //min-height: 719px;

    &--inner-page {
      //min-height: 320px;
    }

  }

}
