.logo {
  text-align: center;

  &__image {
    height: 85px;
    width: 226px;
  }

  outline: 1px dashed red;
}

@media #{$break-medium} {

  .logo {
    position: absolute;
    right: 50%;
    top: 75px;
    transform: translateX(50%);

    &__image {
      height: 100px;
      width: 370px;
    }

  }

}

@media #{$break-medium} {

  .logo {
    top: 75px;

    &__image {
      height: 153px;
    }

  }

}
