.logo {
  position: absolute;
  right: 50%;
  top: -6px;
  transform: translateX(50%);
  z-index: -1;;

  &__moustache,
  &__barbershop {
    opacity: 0;
    transition: opacity .3s
  }

  &__image {
    height: 100px;
    padding-left: 5px;
    width: 226px;
  }

  &--inner-page  &__image {
    padding-left: 0;
  }

}

@media #{$break-medium} {

  .logo {
    background-image: url("../img/bg-tablet.jpg");
    background-position: center -74px;
    background-repeat: no-repeat;
    height: 100%;
    padding-bottom: 174px;
    position: static;
    right: 0;
    transform: none;
    text-align: center;
    width: 100%;
    z-index: 1;

    &__barbershop {
      opacity: 1;
    }

    &__image {
      height: 200px;
      padding-top: 15px;
      width: 370px;
    }

    &--inner-page {
      background-image: url("../img/bg-tablet-inner.jpg");
      background-position: center -72px;
      background-size: cover;
      padding-bottom: 0;
    }

    &--inner-page  &__image {
      padding-left: 11px;
    }

  }

}

@media #{$break-large} {

  .logo {
    background-image: url("../img/bg-desktop.jpg");
    background-position: center -72px;
    padding-bottom: 407px;

    &__moustache {
      opacity: 1;
    }

    &__image {
      padding-top: 33px;
    }

  }

}
