.logo {
  margin-top: -6px;
  order: -1;
  text-align: center;

  &__mustache,
  &__barbershop {
    opacity: 0;
    transition: opacity .3s
  }

  &__image {
    height: 100px;
    padding-left: 5px;
    width: 226px;
  }

  &--inner-page  &__image {
    padding-left: 0;
  }

}

@media #{$break-medium} {

  .logo {
    background-image: url("../img/bg-tablet.jpg");
    background-position: center -74px;
    background-repeat: no-repeat;
    height: 397px;
    margin-top: 0;
    order: 2;
    width: 100%;

    &__barbershop {
      opacity: 1;
    }

    &__image {
      height: 200px;
      padding-top: 15px;
      width: 370px;
    }

    &--inner-page {
      background-image: url("../img/bg-tablet-inner.jpg");
      background-position: center -72px;
      background-size: cover;
      height: 222px;
    }

    &--inner-page  &__image {
      padding-left: 11px;
    }

  }

}

@media #{$break-large} {

  .logo {
    background-image: url("../img/bg-desktop.jpg");
    background-position: center -72px;
    height: 648px;

    &__mustache {
      opacity: 1;
    }

    &--inner-page {
      background-image: url("../img/bg-desktop-inner.jpg");
      background-size: auto;
      height: 320px;
    }

    &__image {
      padding-top: 33px;
    }

    &--inner-page  &__image {
      padding-left: 0;
      padding-top: 30px;
    }

  }

}
