.modal-personal {
  background-color: $bg-color-modal;
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.75);
  display: none;
  height: 408px;
  left: 0;
  position: absolute;
  top: 134px;
  width: 320px;
  z-index: 10;

  &--show {
    display: block;
  }

  &__header {
    margin: 0 auto;
    margin-bottom: 24px;
    margin-top: 32px;
    text-align: center;
    width: 280px;
  }

  &__title {
    @include title;

    display: block;
    margin-bottom: 14px;
  }

  &__text {
    font-size: $font-size-base;
    margin: 0;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 280px;
  }

  &__user {
    margin-bottom: 22px;
    width: 100%;
  }

  &__field {
    color: $color-black;
    border: 1px solid $color-border-news;
    font-size: $font-size-base;
    line-height: $line-height-medium;
    margin-bottom: 6px;
    padding: 9px 18px;
    padding-right: 45px;
    width: 100%;

    // TODO: Почему для IE контент меньше 30?
    //height: 50px;

    &::placeholder {
      color: $color-black;
    }

  }

  &__settings {
    display: flex;
    line-height: $line-height-medium;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }

  &__caption {

    &--login,
    &--password {
      font-size: 0;
      line-height: 0;
      position: relative;

      &::after {
        background-repeat: no-repeat;
        content: "";
        position: absolute;
      }

    }

    &--login::after {
      background-image: url("../img/user.svg");
      height: 15px;
      right: 18px;
      bottom: 24px;
      width: 15px;
    }

    &--password::after {
      background-image: url("../img/locked.svg");
      height: 17px;
      right: 19px;
      bottom: 23px;
      width: 15px;
    }

    &--remember {
      padding-left: 48px;
      font-weight: normal;
      position: relative;

      &::before {
        background-color: $color-white;
        border: 1px solid $color-border-news;
        bottom: 50%;
        content: "";
        height: 31px;
        left: 0;
        position: absolute;
        transform: translateY(50%);
        width: 31px;
      }

      .modal-personal__field--remember:checked + &::after {
        background-image: url("../img/tick.svg");
        background-repeat: no-repeat;
        bottom: 50%;
        content: "";
        height: 16px;
        left: 6px;
        position: absolute;
        transform: translateY(50%);
        width: 22px;
      }

    }

  }

  &__foggot {
    color: $color-black;
  }

  &__in-personal {
    display: none;
  }

}

@media #{$break-medium} {

  .modal-personal {
    height: 502px;
    left: 155px;
    top: 130px;
    width: 460px;

    &__header {
      display: block;
      margin-bottom: 24px;
      margin-top: 57px;
      width: 320px;
    }

    &__title {
      font-size: $font-size-extra;
      margin-bottom: 18px;
    }

    &__form {
      width: 320px;
    }

    &__field {
      font-size: $font-size-large;
      margin-bottom: 6px;
      padding: 19px 23px;
      padding-right: 55px;

      // TODO: проверить в IE
      //height: 70px;
    }

    &__settings {
      margin-bottom: 34px;
    }

    &__caption--login::after,
    &__caption--password::after {
      right: 26px;
      bottom: 33px;
    }

    &__in-personal {
      display: inline;
    }

  }

}

@media #{$break-large} {

  .modal-personal {
    left: 370px;
    top: 130px;
  }

}
