.news {
  @include container;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-top: 75px;

  outline: 1px dashed red;

  &__title {
    text-align: center;
  }

  &__item {
    display: flex;

    outline: 1px dashed blue;

    &:nth-of-type(n+3) {
      display: none;
    }

  }

  &__date {
    width: 25%;
  }

  &__text {
    width: 75%;
  }

}

@media #{$break-medium} {

  .news  {
    padding-top: 95px;
    position: relative;

    &__title {
      text-align: left;
      width: 100%;
    }

    &__item {
      width: 50%;
    }

  }

}

@media #{$break-large} {

  .news  {
    padding-top: 125px;

    &__item {
      width: 33.3333%;

      &:nth-of-type(n+3) {
        display: flex;
      }

    }

  }

}
