.news {
  background-color: $bg-color-news;
  border-bottom: 1px solid $color-border-news;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 28px;
  padding-top: 42px;

  &__title {
    @include title;

    margin: 0;
    margin-bottom: 12px;
    padding-top: 25px;
  }

  &__item {
    @include container;
    margin: 0;

    border-bottom: 1px solid $color-border-news;
    padding-bottom: 18px;
    padding-top: 16px;
    position: relative;

    &:nth-of-type(n+2) {
      border: none;
      // TODO: Как сделать у последнего?
      margin-bottom: 5px;
    }

    &:nth-of-type(n+3) {
      display: none;
    }

  }

  &__date {
    @include triangle($color-black);

    background-color: $bg-color-menu;
    color: $color-white;
    font-size: $font-size-small;
    height: 50px;
    left: 0;
    line-height: $line-height-medium;
    position: absolute;
    text-align: center;
    top: 27px;
    width: 50px;

    &::after {
      height: 10px;
      bottom: -10px;
    }

  }

  &__date-big {
    display: block;
    font-size: $font-size-big;
    font-weight: bold;
    margin-bottom: -11px;
    padding-top: 5px;
  }

  &__text {
    font-size: $font-size-base;
    margin: 0;
    padding-left: 69px;
  }

}

@media #{$break-medium} {

  .news  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 64px;
    padding-top: 67px;
    position: relative;

    &__title {
      font-size: $font-size-extra;
      line-height: $line-height-medium;
      text-align: left;
      width: 100%;
    }

    &__item {
      border: none;
      margin: 0;
      margin-bottom: 17px;
      margin-top: 31px;
      width: 50%;
    }

    &__text {
      padding-right: 27px;
    }

    &__only-mobile {
      display: none;
    }

  }

}

@media #{$break-large} {

  .news  {
    padding: 0 120px;
    padding-top: 100px;

    &__title {
      margin-left: 70px;
    }

    &__item {
      margin-bottom: 21px;
      width: 33.3333%;

      &:nth-of-type(n+3) {
        display: flex;
      }

    }

    &__text {
      padding-right: 30px;
    }

  }

}
