.order-form {
  @include container;

  padding-bottom: 39px;
  text-align: center;

  &__title {
    display: block;
    font-size: $font-size-medium;
    font-weight: normal;
    line-height: $line-height-base;
    text-transform: uppercase;
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 37px;
  }

  &__name,
  &__communications {
    margin-bottom: 26px;
  }

  &__model {
    text-align: center;
  }

  &__model &__title {
    margin-bottom: 50px;
  }

  &__additional {
    margin-bottom: 21px;
    text-align: center;
  }

  &__additional &__title {
    margin-bottom: 39px;
  }

  &__for-master,
  &__field {
    color: $color-black;
    border: 1px solid $color-border-news;
    font-size: $font-size-base;
    line-height: $line-height-medium;
    padding: 9px 18px;
    width: 100%;

    // TODO: Почему для IE контент меньше 30?
    height: 50px;

    &::placeholder {
      color: $color-black;
    }

    &:hover {
      border-color: $color-button-border-hover;
    }

    &:focus {
      border-color: $color-field-focus;
    }

  }

  &__for-master {
    height: 112px;
    resize: none;
  }

  &__field {

    &--name {
      margin-bottom: 6px;
    }

    &--communications {
      margin-bottom: 6px;
      width: 100%;
    }

  }

  &__caption {
    font-weight: normal;
    position: relative;

    &::before,
    .order-form__field:checked + &::after {
      background-color: $color-white;
      border: 1px solid $color-border-news;
      content: "";
      position: absolute;
    }

    &--model::before {
      border-radius: 50%;
      height: 49px;
      right: 50%;
      top: -62px;
      transform: translateX(50%);
      width: 49px;
    }

    &--additional::before {
      bottom: 50%;
      height: 35px;
      left: -60px;
      transform: translateY(50%);
      width: 35px;
    }

    &:hover::before,
    .order-form__field:checked + &:hover::after {
      border-color: $color-button-bg-active;
    }

    .order-form__field:checked + &:active::before,
    .order-form__field:checked + &:active::after {
      background-color: $color-button-bg-active;
      background-image: none;
    }

  }

  &__field--model:checked + &__caption--model::after {
    border-radius: 50%;
    height: 17px;
    right: 50%;
    top: -46px;
    transform: translateX(50%);
    width: 17px;
  }

  &__field--additional:checked + &__caption--additional::after {
    background-color: transparent;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    border: none;
    height: 16px;
    left: -52px;
    bottom: 50%;
    transform: translateY(50%);
    width: 22px;
  }

  &__icon {
    fill: $bg-color-menu-active;
    padding-top: 14px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    &--additional {
      flex-direction: column;
      padding-left: 59px;
      text-align: left;
    }

  }

  &__list-item {
    align-items: space-between;
    display: flex;
    flex-direction: column;

    &--model {
      margin-bottom: 43px;
      margin-left: 23px;
      margin-right: 10px;
      padding-top: 48px;
    }

    &--additional {
      margin-bottom: 32px;
    }

  }

}

@media #{$break-medium} {

  .order-form {
    padding-bottom: 76px;

    &__title {
      background-color: $bg-color-news;
      display: inline-block;
      font-size: $font-size-big;
      line-height: $line-height-medium;
      position: relative;
      text-align: center;
      vertical-align: top;
    }

    &__contacts {
      margin-bottom: 52px;
    }

    &__model {
      margin-bottom: 54px;
    }

    &__model::before,
    &__additional::before {
      border-top: 1px solid $color-border-news;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: relative;
      top: 17px;
      width: 100%;
    }

    &__model &__title {
      margin-bottom: 39px;
      padding: 0 25px;
    }

    &__additional {
      margin-bottom: 6px;
    }

    &__additional &__title {
      padding: 0 31px;
    }

    &__name {
      display: flex;
      width: 100%;
    }

    &__communications {
      margin: 0;
      width: 100%;
    }

    &__caption {
      font-size: $font-size-large;
      line-height: $line-height-small;

      &--model {
        margin-bottom: 19px;

        &::before {
          top: -78px;
        }

      }

    }

    &__field--model:checked + &__caption--model::after {
      top: -62px;
    }

    &__for-master,
    &__field {
      font-size: $font-size-large;
      line-height: $line-height-medium;
      padding: 19px 24px;

      // TODO: Почему для IE контент меньше 30?
      height: auto;
    }

    &__for-master {
      height: 211px;
      resize: none;
    }

    &__field {

      &--name {
        margin: 0;
        margin-bottom: 9px;
        width: 33.3333%;

        &:nth-child(2) {
          order: -1;
        }

      }

      &--communications {
        margin-bottom: 35px;
        width: 100%;
      }

    }

    &__list {
      display: flex;
      flex-direction: row;

      &--model {
        margin-left: 14px;
        margin-right: 18px;
        justify-content: space-between;
      }

      &--additional {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 36px;
      }

    }

    &__list-item {
      margin: 0;

      &--model {
        align-items: center;
        padding-top: 85px;

        &:nth-child(4) {
          margin-right: 11px;
        }

      }

      &--additional {
        margin: 0;
        margin-bottom: 59px;
        width: 55%;

        &:nth-child(1) {
          order: 1;
          width: 55%;
        }

        &:nth-child(2) {
          order: 4;
          width: 45%;
        }

        &:nth-child(3) {
          order: 2;
          width: 45%;
        }

        &:nth-child(4) {
          order: 5;
          width: 55%;
        }

        &:nth-child(5) {
          order: 3;
          width: 55%;
        }

        &:nth-child(6) {
          order: 6;
          width: 45%;
        }

      }

    }

  }

}

@media #{$break-large} {

  .order-form {
    padding-bottom: 87px;

    &__contacts {
      margin-bottom: 69px;
    }

    &__communications {
      display: flex;
      justify-content: space-between;
    }

    &__model &__title {
      margin-bottom: 45px;
      padding: 0 40px;
    }

    &__additional {
      margin-bottom: 27px;
    }

    &__additional &__title {
      padding: 0 44px;
    }

    &__field {

      &--name {
        margin-right: 38px;
        width: 30.7%;

        &:last-child {
          margin-right: 0;
        }
      }

      &--communications {
        width: 48.2%;
      }

    }

    &__list {

      &--model {
        margin-left: 44px;
        margin-right: 50px;
      }

    }

    &__list-item {
      margin: 0;

      &--model {
        align-items: center;
        padding-top: 85px;

        &:nth-child(4) {
          margin-right: 11px;
        }

      }

      &--additional {
        margin: 0;
        margin-bottom: 59px;
        width: 35.5%;

        &:nth-child(-n+4) {
          width: 35.5%;
        }

        &:nth-child(5) {
          width: 25%;
        }

        &:nth-child(6) {
          width: 25%;
        }

      }

    }

  }

}
