.order {
  @include container;

  &__title {
    text-align: center;
  }

  outline: 1px dashed red;
}

@media #{$break-medium} {

  .order {

    &__header {
      display: flex;
      justify-content: space-between;
    }

  }

}
