.order {
  background-color: $bg-color-news;
  position: relative;

  // TODO: Миксин для треугольника!
  &::after {
    content: "";
    background-image:
      linear-gradient(
        to top right,
        transparent 50%,
        $bg-color-news 50%
      ),
      linear-gradient(
        to top left,
        transparent 50%,
        $bg-color-news 50%
      );
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 50.1% 100%;
    height: 35px;
    left: 0;
    position: absolute;
    bottom: -35px;
    width: 100%;
    z-index: 10;
  }

  &__title {
    @include title;

    margin: 0;
    margin-bottom: 1px;
    padding: 29px 0;
    text-align: center;
  }

}

@media #{$break-medium} {

  .order {

    &::after {
      content: none;
    }

    &__header {
      @include container;

      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 48px;
      padding-top: 25px;
    }

    &__title {
      font-size: $font-size-extra;
      text-align: left;
    }

  }

}

@media #{$break-large} {

  .order {

    // TODO: Объединить, если ничего не добавится
    &__header {
      padding-top: 20px;
    }

  }

}
