.order-form {
  @include container;

  padding-bottom: 39px;
  text-align: center;

  &__title {
    display: block;
    font-size: $font-size-medium;
    font-weight: normal;
    line-height: $line-height-base;
    text-transform: uppercase;
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 37px;
  }

  &__name,
  &__communications {
    margin-bottom: 26px;
  }

  &__for-master {
    height: 112px;
    padding: 8px 18px;
    resize: none;
  }

  &__model {
    text-align: center;
  }

  &__model &__title {
    margin-bottom: 50px;
  }

  &__additional {
    margin-bottom: 21px;
    text-align: center;
  }

  &__additional &__title {
    margin-bottom: 39px;
  }

  &__for-master,
  &__field {
    color: $color-black;
    border: 1px solid $color-border-news;
    line-height: $line-height-medium;

    &::placeholder {
      color: $color-black;
    }

  }

  &__field {
    padding: 13px 18px;
    padding-bottom: 15px;

    &--name {
      margin-bottom: 6px;
    }

    &--communications {
      margin-bottom: 6px;
      width: 100%;
    }

  }

  &__caption {
    font-weight: normal;
    position: relative;

    &::before,
    .order-form__field:checked + &::after {
      background-color: $color-white;
      border: 1px solid $color-border-news;
      content: "";
      position: absolute;
    }

    &--model::before {
      border-radius: 50%;
      height: 49px;
      right: 50%;
      top: -62px;
      transform: translateX(50%);
      width: 49px;
    }

    &--additional::before {
      bottom: 50%;
      height: 35px;
      left: -60px;
      transform: translateY(50%);
      width: 35px;
    }

  }

  &__field--model:checked + &__caption--model::after {
    border-radius: 50%;
    height: 17px;
    right: 50%;
    top: -46px;
    transform: translateX(50%);
    width: 17px;
  }

  &__field--additional:checked + &__caption--additional::after {
    background-image: url('../img/sprite.png');
    background-position: -10px -241px;
    background-repeat: no-repeat;
    border: none;
    height: 16px;
    left: -52px;
    bottom: 50%;
    transform: translateY(50%);
    width: 22px;
  }

  &__icon {
    fill: $bg-color-menu-active;
    padding-top: 14px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    &--additional {
      flex-direction: column;
      padding-left: 59px;
      text-align: left;
    }

  }

  &__list-item {
    align-items: space-between;
    display: flex;
    flex-direction: column;

    &--model {
      margin-bottom: 43px;
      margin-left: 23px;
      margin-right: 10px;
      padding-top: 48px;
    }

    &--additional {
      margin-bottom: 32px;
    }

  }

}

@media #{$break-medium} {

  .order-form {

    &__name {
      display: flex;
      width: 100%;
    }

    &__communications {
      margin: 0;
      width: 100%;
    }

    &__field {

      &--name {
        margin: 0;
        width: 33.3333%;
      }

      &--communications {
        margin-bottom: 20px;
        width: 100%;
      }

    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &--additional {
        flex-wrap: wrap;
        justify-content: flex-start;
      }

    }

    &__list-item {
      margin: 0;

      &--additional {
        margin: 0;
        width: 50%;
      }

    }

  }

}

@media #{$break-large} {

  .order-form {

    &__communications {
      display: flex;
    }

    &__field {

      &--name {
        padding-right: 30px;
      }

      &--communications {

      }

    }

  }

}
