.order-form {
  text-align: center;

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    outline: 1px dashed blue;
  }

  &__name {
    margin-bottom: 20px;
  }

  &__communications {
    margin-bottom: 20px;
  }

  &__for-master {
    height: 100px;
  }

  &__model {
    text-align: center;

    outline: 1px dashed blue;
  }

  &__additional {
    text-align: center;

    outline: 1px dashed blue;
  }

  &__field {

    &--name {
      margin-bottom: 10px;
    }

    &--communications {
      margin-bottom: 10px;
      width: 100%;
    }

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    &--additional {
      flex-direction: column;
      padding-left: 70px;
      text-align: left;
    }

  }

  &__list-item {
    align-items: space-between;
    display: flex;
    flex-direction: column;

    &--model {
      padding-left: 25px;
      padding-top: 70px;
    }

    &--additional {
      padding-bottom: 30px;
    }

  }

}

@media #{$break-medium} {

  .order-form {

    &__name {
      display: flex;
      width: 100%;
    }

    &__communications {
      margin: 0;
      width: 100%;
    }

    &__field {

      &--name {
        margin: 0;
        width: 33.3333%;
      }

      &--communications {
        margin-bottom: 20px;
        width: 100%;
      }

    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &--additional {
        flex-wrap: wrap;
        justify-content: flex-start;
      }

    }

    &__list-item {
      margin: 0;

      &--additional {
        margin: 0;
        width: 50%;
      }

    }

  }

}

@media #{$break-large} {

  .order-form {

    &__communications {
      display: flex;
    }

    &__field {

      &--name {
        padding-right: 30px;
      }

      &--communications {

      }

    }

  }

}
