.portfolio {
  background-color: $bg-color-news;

  &__title {
    @include title;

    margin: 0;
    padding-bottom: 30px;
    padding-top: 29px;
    text-align: center;
  }

  &__items {
    @include triangle($bg-color-news);

    padding-bottom: 14px;
    position: relative;
  }

  &__item {
    @include container;

    margin-bottom: 20px;

    &--month {
      position: relative;

      &::before {
        background-color: $bg-color-menu-active;
        color: $color-white;
        content: "Работа месяца";
        font-size: $font-size-medium;
        font-weight: bold;
        left: 0;
        line-height: $line-height-base;
        padding-bottom: 11px;
        padding-left: 27px;
        padding-right: 17px;
        padding-top: 12px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 401px;
      }

      &::after {
        content: "";
        background-image:
          linear-gradient(
            to bottom right,
            $bg-color-menu-active 50%,
            transparent 50%
          ),
          linear-gradient(
            to top right,
            $bg-color-menu-active 50%,
            transparent 50%
          );
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        background-size: 80.1% 100%;
        height: 50px;
        left: 157px;
        position: absolute;
        top: 401px;
        width: 25px;
        z-index: 9;
      }

    }

  }

  &__item-photo {
    height: 176px;
    width: 280px;
  }

  &__item--month &__item-photo {
    height: 480px;
  }

  &__item--month &__item-description {
    padding-top: 19px;
    padding-bottom: 17px;
  }

  &__item-sub {
    border: 1px solid $color-border-news;
    border-top: none;
  }

  &__item-description {
    padding-bottom: 20px;
    padding-left: 23px;
    padding-right: 20px;
    padding-top: 23px;
  }

  &__item-name {
    display: block;
    font-size: $font-size-large;
    line-height: $line-height-base;
    margin-bottom: 14px;
  }

  &__item-feedback {
    font-size: $font-size-base;
    margin: 0;
  }

  &__item--month &__item-services {
    padding-bottom: 0;
  }

  &__item-services {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
  }

  &__item--month &__item-title--beard::before {
    left: 14px;
  }

  &__item-title {
    display: inline-block;
    font-size: $font-size-small;
    font-weight: normal;
    padding-bottom: 18px;
    padding-right: 20px;
    position: relative;
    text-transform: uppercase;
    vertical-align: top;

    &::before {
      background-repeat: no-repeat;
      content: "";
      position: absolute;
    }

    &--scissors {
      padding-left: 58px;

      &::before {
        background-image: url("../img/scissors-icon.svg");
        height: 20px;
        left: 22px;
        top: 3px;
        width: 21px;
      }

    }

    &--beard {
      padding-left: 57px;

      &::before {
        background-image: url("../img/beard-icon.svg");
        height: 21px;
        left: 18px;
        top: 1px;
        width: 23px;
      }

    }

    &--mustache {
      padding-left: 68px;

      &::before {
        background-image: url("../img/mustache-icon.svg");
        height: 12px;
        left: 12px;
        top: 6px;
        width: 45px;
      }

    }

  }

}

@media #{$break-medium} {

  .portfolio {
    @include triangle($bg-color-news);

    position: relative;

    &::after {
      height: 42px;
      bottom: -42px;
    }

    &__header {
      @include container-fluid();

      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      padding-top: 24px;
    }

    &__title {
      font-size: $font-size-extra;
    }

    &__items {
      @include container-fluid();

      padding-bottom: 20px;

      &::after {
        content: none;
      }

    }

    &__item {
      display: flex;
      margin-bottom: 41px;
      width: auto;

      &--month::before,
      &--month::after {
        content: none;
      }

    }

    &__item-sub {
      border-left: none;
      border-top: 1px solid $color-border-news;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 51px;
      padding-top: 39px;
      width: 100%;
    }

    &__item--month &__item-sub {
      padding-top: 24px;
    }

    &__item-photo {
      height: 294px;
      width: 270px;
    }

    &__item--month &__item-photo {
      height: 480px;
    }

    &__item-description {
      display: block;
      padding: 0;
    }

    &__item-name {
      padding-bottom: 12px;
    }

    &__item-feedback {
      padding-right: 60px;
    }

    &__item--month &__item-feedback {
      padding-right: 50px;
    }

    &__item-services {
      padding: 0;
      padding-bottom: 23px;
    }

    &__item--month &__item-services {
      padding-bottom: 16px;
    }

    &__item-title {
      padding-right: 17px;

      &--scissors {
        padding-left: 39px;

        &::before {
          left: 0px;
          top: 3px;
        }

      }

      &--beard {
        padding-left: 39px;
        padding-right: 40px;

        &::before {
          left: 0px;
          top: 1px;
        }

      }

      &--mustache {
        padding-left: 46px;

        &::before {
          left: -11px;
          top: 6px;
        }

      }

    }

    &__item--month &__item-title--beard {
      padding-left: 57px;
    }

  }

}

@media #{$break-large} {

  .portfolio {

    &::after {
      content: none;
    }

    &__header {
      padding-bottom: 61px;
      padding-top: 20px;
    }

    &__items {
      @include container-fluid();

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 48px;
    }

    &__item {
      flex-direction: column;
      margin: 0;
      margin-bottom: 41px;
      padding: 0;
      width: 292px;

      &--month {
        flex-direction: row;
        width: 100%;

        &::before {
          content: "Работа месяца";
          left: auto;
          padding-left: 23px;
          padding-right: 21px;
          right: 0;
          text-align: left;
          top: 26px;
        }

        &::after {
          content: "";
          background-image:
            linear-gradient(
              to bottom left,
              $bg-color-menu-active 50%,
              transparent 50%
            ),
            linear-gradient(
              to top left,
              $bg-color-menu-active 50%,
              transparent 50%
            );
          left: auto;
          right: 152px;
          top: 26px;
        }

      }

    }

    &__item-photo {
      width: 294px;
    }

    &__item--month &__item-photo {
      width: 480px;
    }

    &__item-sub {
      border: 1px solid $color-border-news;
      border-top: none;
      min-height: 216px;
      padding: 0;
      padding-top: 29px;
      width: 100%;
    }

    &__item--month &__item-sub {
      border: 1px solid $color-border-news;
      border-left: none;
      padding-left: 40px;
      padding-top: 128px;
      width: 100%;
    }

    &__item-description {
      padding-left: 33px;
      padding-right: 15px;
    }

    &__item--month &__item-description {
      padding: 0;
    }

    &__item-feedback {
      padding: 0;
    }

    &__item--month &__item-feedback {
      padding-right: 160px;
    }

    &__item-services {
      padding-bottom: 14px;
      padding-left: 32px;
    }

    &__item--month &__item-services {
      padding: 0;
      padding-bottom: 11px;
    }

  }

}
