.portfolio {
  @include container;

  outline: 1px dashed red;

  &__title {
    text-align: center;
  }

  &__item {
    margin-bottom: 20px;

    outline: 1px dashed blue;
  }

  &__item-description {
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
  }

  &__item-services {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  &__item-service {
    align-items: center;
    display: flex;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 30px;
  }

  &__item-icon {
    padding-right: 15px;
  }

}

@media #{$break-medium} {

  .portfolio {

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      @include clearfix;
    }

    &__item-photo {
      float: left;
    }

    &__item-description {
      display: block;
      padding-left: 320px;
    }

    &__item-services {
      padding-left: 35px;
    }

  }

}

@media #{$break-large} {

  .portfolio {

    &__items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__item {
      float: none;
      flex: 1 0 33.3333%;

      &--month {
        flex: 0 2 100%;
      }
    }

    &__item-description {
      padding-left: 20px;
      padding-top: 200px;
    }

    &__item-services {
      padding-left: 20px;
    }

  }

}
