.price-list  {
  color: $color-white;
  background-color: $bg-color-price;
  padding: 0 20px;
  padding-bottom: 19px;
  padding-top: 50px;
  position: relative;

  &::after {
    content: "";
    background-image:
      linear-gradient(
        to top right,
        transparent 50%,
        $bg-color-price 50%
      ),
      linear-gradient(
        to top left,
        transparent 50%,
        $bg-color-price 50%
      );
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 50.1% 100%;
    height: 35px;
    left: 0;
    position: absolute;
    bottom: -35px;
    width: 100%;
    z-index: 10;
  }

  &__title {
    @include title;

    margin-bottom: 21px;
  }

  &__table {
    display: block;
    margin-bottom: 11px;
    width: 100%;

    tr {
      display: flex;
      flex-wrap: wrap;
      font-size: $font-size-medium;
      justify-content: space-between;
      margin-bottom: 15px;
      padding: 0;
    }

    td {
      display: block;
      padding: 0;
    }

    .col-1 {
      display: none;
    }

    .col-2 {
      font-weight: bold;
      padding-left: 0;
    }

    .col-3 {
      order: 3;
      padding-left: 0;
      width: 100%;
    }

    .col-4 {
      order: 2;
      padding-right: 0;
    }

  }

  &__discount {
    align-items: center;
    border: 1px solid $color-border-discount;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
  }

  &__discount-clock {
    fill: $color-white;
    width: 35%;
  }

  &__discount-text {
    margin: 0;
    width: 59%;
  }

}

@media #{$break-medium} {

  .price-list {
    padding-top: 90px;
    padding-bottom: 57px;

    &::after {
      content: none;
    }

    &__title {
      @include container;

      font-size: $font-size-extra;
      text-align: left;
      padding-bottom: 54px;
    }

    &__bracket {
      display: none;
    }

    &__table {
      @include container;

      border-spacing: 0;
      display: table;
      margin-bottom: 10px;

      tr {
        display: table-row;
        font-size: $font-size-medium;
      }

      td {
        border: 1px solid $color-border-discount;
        display: table-cell;
        padding: 13px 19px;
        vertical-align: top;
      }

      .col-1 {
        color: $color-table-number;
        display: table-cell;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        width: 70px;
      }

      .col-2 {
        padding: 13px 19px;
        min-width: 205px;
      }

      .col-3 {
        order: 2;
        padding: 13px 19px;
        width: auto;
      }

      .col-4 {
        order: 3;
        padding: 13px 19px;
        min-width: 120px;
      }

    }

    &__discount {
      @include container;
      padding: 20px 0;
    }

    &__discount-clock {
      height: 70px;
      padding-left: 27px;
      width: 71px;
    }

    &__discount-text {
      font-size: $font-size-big;
      font-weight: bold;
      text-transform: uppercase;
      width: 71%;
    }

  }

}

@media #{$break-large} {

  .price-list {

    padding-top: 82px;
    padding-bottom: 84px;

    &__wrapper {
      @include container;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__title {
      @include container;

      width: 100%;
    }

    &__table {
      margin: 0;
      margin-bottom: 0;
      width: 65.6%;

      .col-4 {
        min-width: 105px;
      }

    }

    &__discount {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 28%;
    }

    &__discount-clock {
      height: 139px;
      padding: 0;
      padding-bottom: 26px;
      padding-top: 14px;
      width: 142px;
    }

    &__discount-text {
      font-size: $font-size-medium;
      font-weight: normal;
      padding: 0 50px;
      text-transform: none;
      width: auto;
    }

  }

}
