.price-list  {
  @include container;

  outline: 1px dashed red;

  &__table {
    width: 100%;
  }

  &__discount {
    display: flex;
    justify-content: space-around;
  }

  &__discount-text {
    width: 50%;
  }

}

@media #{$break-medium} {

  .price-list {

    &__discount {
      padding-bottom: 20px;
      padding-top: 20px;
    }

  }

}

@media #{$break-large} {

  .price-list {
    display: flex;
    flex-wrap: wrap;

    &__title {
      width: 100%;
    }

    &__table {
      width: 75%;
    }

    &__discount {
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 25%;
    }

  }

}
