.prices {
  @include container;

  padding-top: 25px;

  outline: 1px dashed red;

  &__header {
    padding-bottom: 30px;
    padding-left: 38px;
    padding-right: 38px;
    text-align: center;
  }

  &__list {
    width: 100%;
  }

}

@media #{$break-medium} {

  .prices {
    margin-top: -184px;
    padding-top: 45px;
    position: relative;

    &__header {
      display: flex;
      justify-content: space-between;
      min-height: 79px;
      padding-bottom: 60px;
      padding-left: 41px;
      padding-right: 51px;
      text-align: left;
    }

    &__title {
      width: 40%;
    }

    &__text {
      width: 34%;
    }

    &__list {
      display: block;
    }

    &__note {
      left: 10%;
      position: absolute;
      top: 160px;
    }

  }

}

@media #{$break-large} {

  .prices {
    display: flex;
    margin-top: -160px;
    padding-top: 30px;

    &__header {
      display: block;
      padding-bottom: 36px;
      width: 33.3333%;
    }

    &__title {
      width: auto;
    }

    &__text {
      width: auto;
    }

    &__list {
      width: 66.6666%;
    }

  }

}
