.prices {

  &__header {
    background-color: $bg-main-header;
    padding: 0 30px;
    padding-bottom: 26px;
    padding-top: 27px;
    text-align: center;
  }

  &__title {
    @include title;

    display: block;
    line-height: $line-height-medium;
    margin-bottom: 16px;
    padding: 0 20px;
  }

  &__text {
    font-size: $font-size-medium;
    margin: 0;
  }

  &__list {
    width: 100%;
  }

}

@media #{$break-medium} {

  .prices {
    @include container;

    margin-top: -184px;
    padding-top: 45px;
    position: relative;

    &__header {
      display: flex;
      justify-content: space-between;
      min-height: 79px;
      padding-bottom: 60px;
      padding-left: 41px;
      padding-right: 51px;
      text-align: left;
    }

    &__title {
      width: 40%;
    }

    &__text {
      width: 34%;
    }

    &__list {
      display: block;
    }

    &__note {
      left: 10%;
      position: absolute;
      top: 160px;
    }

  }

}

@media #{$break-large} {

  .prices {
    display: flex;
    margin-top: -160px;
    padding-top: 30px;

    &__header {
      display: block;
      padding-bottom: 36px;
      width: 33.3333%;
    }

    &__title {
      width: auto;
    }

    &__text {
      width: auto;
    }

    &__list {
      width: 66.6666%;
    }

  }

}
