.social {

  &__title {
    display: none;
  }

  &__icons {
    border: 1px solid $color-border-footer;
    border-collapse: collapse;
    display: table;
    width: 100%;
  }

}

@media #{$break-medium} {

  .social {
    order: 3;
    padding-bottom: 25px;
    width: 100%;
  }

}

@media #{$break-large} {

  .social {
    flex-wrap: wrap;
    order: 2;
    padding-top: 50px;
    text-align: center;
    width: 20%;

    &__title {
      display: block;
      font-size: $font-size-base;
      line-height: $line-height-base;
      margin-bottom: 5px;
      width: 100%;
    }

    &__icons {
      border: none;
      display: block;
    }

  }

}
